@using Microsoft.AspNetCore.Html;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Http.Features;
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Razor;
@using Microsoft.AspNetCore.Builder;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using Microsoft.Extensions.Options;
@using Microsoft.AspNetCore.Http.Extensions;
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{

    var requestCulture = this.Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures.Select(c => new SelectListItem {Text = c.DisplayName, Value = c.Name}).ToList();
}
<div title="@Localizer["Request culture provider:"] @requestCulture?.Provider?.GetType().Name">
    <form id="selectLanguage" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path" method="post" class="form-horizonal" role="form">

        @Localizer["Language:"] <select name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"></select>
    </form>
</div>